.MakeItem {
  text-align: center;
  list-style: none;
  padding: 5px;
  border: solid black 1px;

  .formContainer {
    display: flex;
    gap: 5px;

    input,
    button {
      cursor: pointer;
      padding: 5px;
      border: none;
      border-radius: 5px;
    }
    .update-btn {
      color: white;
      background-color: rgb(104, 139, 255);
    }
    .delete-btn {
      background-color: rgb(255, 118, 118);
      color: white;
    }
  }
}
